# CRIAR UM ARQUIVO .ENV NA RAIZ DO PROJETO COM O SEGUINTE CONTEÚDO:
MONGO_URI=mongodb+srv://askmydata:askmydata123@askmydata.kosmucj.mongodb.net/
MONGO_DB_NAME=ask_my_data
MONGO_USERS_COLLECTION=users
MONGO_CONVERSATIONS_COLLECTION=conversation_history
MONGO_SAVED_QUERIES_COLLECTION=saved_queries